<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js"></script>

<body>
  <div class="home-container">
    <!-- Navigation -->
    <nav class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/admin">Home</a>
        </li>
        <% if (!member) { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/product/all">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item logout-item"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </nav>

    <!-- Animation Section -->
    <div class="animation-frame">
      <div class="animation-wrapper">
        <div class="rotating-image">
          <img src="/img/chef.jpg" alt="Restaurant Logo" />
        </div>

        <!-- Text -->
        <div class="welcome-text">
          <h1>Mokcha</h1>
          <p>Fine Dining Experience & Premium Management System</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/anime.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
</body>

<%- include('includes/footer') %>
